.skeleton {
	background-color: var(--gray-10);
	overflow: hidden;
	animation: shimmer 2.5s ease-in-out infinite;

	@keyframes shimmer {
		0%,
		100% {
			background-color: var(--gray-10);
		}
		50% {
			background-color: var(--gray-20);
		}
	}
}
