.popover {
	position: fixed;
	inset: 0;
	z-index: var(--z-max);
	display: grid;
	place-items: center;
	visibility: hidden;
	transition: visibility 0.25s var(--timing);

	&__backdrop {
		grid-area: 1 / 1;
		cursor: default;
		width: 100%;
		height: 100%;
		background-color: var(--shadow-color);
		opacity: 0;
		visibility: hidden;
		transition:
			visibility 0.25s var(--timing),
			opacity 0.25s var(--timing);
	}

	&__content {
		grid-area: 1 / 1;
		position: relative;
		z-index: 1;
		margin-inline: 24px;
		width: min(400px, calc(100% - 48px));
		background-color: var(--surface);
		padding: 12px;
		visibility: hidden;
		opacity: 0;
		transform: translateY(-12px);
		transition:
			visibility 0.25s var(--timing),
			opacity 0.25s var(--timing),
			transform 0.25s var(--timing);
	}

	&--open {
		visibility: visible;

		.popover__backdrop {
			visibility: visible;
			opacity: 1;
		}

		.popover__content {
			visibility: visible;
			opacity: 1;
			transform: none;
		}
	}
}

body:has(.popover--no-scroll.popover--open) {
	overflow: hidden;
}
