@use '@/scss/fonts' as *;
@use '@/scss/breakpoints' as *;

.filter {
	// remove relative positioning on filters so that the dropdowns will be positioned to the parent of the filters instead by putting relative positioning on it
	position: unset !important;
}

.dropdown {
	--dropdown-open-y-offset: 8px;
	display: flex;
	flex-direction: column;
	gap: 12px;
	// 100vw - 48px to fit to width of container
	// Subtract another 24px to stop from overflowing in the x-axis when a scrollbar is present
	// Ugly but works well enough
	width: min(450px, 100vw - 48px - 24px);
	left: 0;

	@media screen and ($screen-lg > width > $screen-md) {
		width: 350px;
	}

	&__heading {
		@include font-heading(14);
		color: var(--text);
	}

	&__filter-chips {
		display: flex;
		gap: 8px;
		flex-wrap: wrap;
	}
}
