@use '@/scss/mixins' as *;

.page {
	display: grid;
	place-items: center;
	height: calc(100vh - var(--header-size));
	max-height: calc(-webkit-fill-available - var(--header-size));

	.main {
		@include max-width(400px, 24px);
		display: flex;
		flex-direction: column;
		gap: 32px;

		&__inputs {
			display: flex;
			flex-direction: column;
			gap: 12px;
		}

		&__actions {
			display: flex;
			flex-direction: column;
			gap: 8px;
		}

		.cursor-preview {
			background-color: var(--surface);
			padding: 12px;
			display: flex;
			gap: 8px;

			&::before {
				content: '';
				background-color: var(--border);
				width: 2px;
			}
		}
	}
}
