@use '@/scss/fonts' as *;

.switcher {
	display: flex;
	height: 32px;
	position: relative;

	.theme {
		@include font-heading(14);
		position: relative;
		display: flex;
		align-items: center;
		gap: 6px;
		height: 100%;
		padding-inline: 8px;
		line-height: 1;
		z-index: var(--z-surface);
		color: var(--placeholder);

		&--selected {
			// Only show selected state when the background has been set
			color: var(--black);
		}
	}
}
