@use '@/scss/fonts' as *;

.switcher {
	padding: 0;
	margin: 0;
	border: none;
	width: 100%;
}

.themes {
	position: relative;
	// Flexbox doesn't work on fieldset as of January 2025, so I need an extra div here :(
	display: flex;

	&:has(.theme__radio:focus-visible) &__selected-box {
		outline: 2px solid var(--primary);
		outline-offset: 2px;
	}

	.theme {
		position: relative;
		height: 40px;
		flex: 1;
		display: grid;
		place-items: center;
		padding-inline: 8px;
		line-height: 1;
		z-index: var(--z-surface);
		color: var(--placeholder);
		cursor: pointer;
		transition: color 0.25s var(--timing);

		&:has(.theme__radio:checked) {
			// Only show selected state when the background has been set
			color: var(--black);
		}

		&__radio {
			display: block;
			clip: rect(0 0 0 0);
			clip-path: inset(50%);
			height: 1px;
			width: 1px;
			overflow: hidden;
			position: absolute;
			white-space: nowrap;
		}
	}
}
