@use '@/scss/fonts' as *;

.switcher {
	--outside-padding: 4px;
	--gap: 6px;

	display: flex;
	background-color: var(--background);
	padding: var(--outside-padding);
	height: 40px;
	position: relative;

	.theme {
		@include font-heading(14);
		position: relative;
		display: flex;
		align-items: center;
		gap: var(--gap);
		height: 100%;
		padding-inline: 8px;
		line-height: 1;
		z-index: var(--z-surface);
		color: var(--placeholder);

		&--selected {
			// Only show selected state when the background has been set
			color: var(--black);
		}
	}
}
