@use '@/scss/fonts' as *;
@use '@/scss/breakpoints' as *;

.user {
	display: flex;
	align-items: center;
	justify-content: space-between;
	height: 40px;

	&__name {
		display: flex;
		align-items: center;
		gap: 4px;
		position: relative;

		.username {
			@include font-heading(16);

			&__main {
				position: relative;
				display: inline;

				.admin-icon {
					position: absolute;
					right: 0;
					top: 0;
					transform: translate(65%, -65%) rotate(30deg);
					color: var(--primary);
				}
			}

			&__you {
				@include font-heading(12);
				color: var(--placeholder);
				display: inline;
			}
		}
	}
}

.state {
	display: grid;
	grid-auto-flow: row;
	place-items: flex-end;
	height: 1.5rem;
	overflow: hidden;

	&__option {
		height: 1.5rem;
		display: flex;
		align-items: center;
		transition: transform 0.25s var(--timing);
	}

	&--not-ready .state__option {
		transform: translateY(-300%);
	}

	&--ready .state__option {
		transform: translateY(-200%);
	}

	&--in-progress .state__option {
		transform: translateY(-100%);
	}

	&--complete .state__option,
	&--failed .state__option {
		transform: translateY(0);
	}
}

.settings {
	padding: 12px;
	background-color: var(--surface);
	box-shadow: var(--shadow);
	position: absolute;
	z-index: var(--z-overlay);
	top: 100%;
	left: 0;
	width: calc(100vw - 48px);
	max-width: 400px;
	display: flex;
	flex-direction: column;
	gap: 12px;
	opacity: 0;
	transform: translateY(-8px);
	visibility: hidden;
	transition:
		opacity 0.25s var(--timing),
		transform 0.25s var(--timing),
		visibility 0.25s var(--timing);

	// Account for layout shift, where users are on the right
	@media screen and (width > $screen-md) {
		right: 0;
		left: unset;
	}

	&--open {
		opacity: 1;
		transform: translateY(4px);
		visibility: visible;
	}

	&__actions {
		display: flex;
		gap: 8px;
	}

	.cursor-preview {
		background-color: var(--background);
		padding: 12px;
		display: flex;
		gap: 8px;

		&::before {
			content: '';
			background-color: var(--border);
			width: 2px;
		}
	}
}
