@use '@/scss/fonts' as *;

.main {
  background-color: var(--surface);
  padding: 16px;
  display: flex;
  flex-direction: column;
  gap: 16px;
  height: fit-content;

  &__waiting-text {
    @include font-body(32);
    color: var(--placeholder);
  }
}