.typer-preview {
  position: relative;

  .word {
    display: inline;
  }
  
  .character {
    display: inline;
  
    &.correct {
      color: var(--correct);
    }
  
    &.untyped {
      color: var(--untyped);
    }
  }
}