@use '@/scss/fonts' as *;

.group {
	display: flex;
	flex-direction: column;
	gap: 12px;
	width: 100%;

	.username {
		display: flex;
		align-items: flex-start;
		width: 100%;

		&__input {
			flex: 1;
		}

		&__generate {
			margin-top: calc((0.875rem * $line-height-body) + 2px);
		}
	}
}
