.cursor {
	// Allow cursor color to be overridden by an outside component using --cursor-color
	--__cursor-color: var(--cursor-color, var(--_cursor-color));
	background: var(--__cursor-color);
	aspect-ratio: 1 / 8;

	&--small {
		height: 1rem;
	}

	&--medium {
		height: 1.5rem;
	}

	&--large {
		height: 2rem;
	}
}
