@use '@/scss/fonts' as *;

.input {
	display: flex;
	flex-direction: column;
	gap: 2px;

	&--error {
		.input__label {
			color: var(--negative);
		}

		.input__input {
			border-color: var(--negative);
		}
	}

	&:not(.input--error) {
		.input__input:focus-visible {
			border-color: var(--gray-70);
		}
	}

	&__label {
		@include font-body(14);

		.input__required-star {
			color: red;
			display: inline;
		}
	}

	&__input {
		padding-inline: 12px;
		height: 40px;
		border: 2px solid var(--border);
		outline: none;

		&:disabled {
			background-color: var(--disabled);
			color: var(--on-disabled);
			border-color: var(--disabled);
		}

		&::placeholder {
			color: var(--placeholder);
		}
	}

	&__error {
		@include font-body(14);
		color: var(--negative);
		display: flex;
		gap: 2px;

		svg {
			margin-top: 0.1em;
			min-width: 1.2em;
			min-height: 1.2em;
		}
	}
}
