@use '@/scss/fonts' as *;

.game {
	display: flex;
	flex-direction: column;
	gap: 6px;
	position: relative;

	&__typer {
		padding: 16px 16px 0;
	}

	&__info {
		display: flex;
		justify-content: space-between;
		padding: 12px 16px;

		&--error {
			background-color: var(--negative-light);
			color: var(--negative);
		}

		.stats {
			display: flex;
			gap: 12px;

			&__wpm,
			&__typed,
			&__errors-left {
				@include font-body(14);
			}
		}

		.time-left {
			@include font-body(14);
		}

		.time-left--low {
			color: var(--negative);
		}
	}

	.start-overlay {
		position: absolute;
		z-index: var(--z-overlay);
		inset: 0;
		background-color: var(--surface);
		display: flex;
		flex-direction: column;
		justify-content: space-between;
		gap: 24px;
		padding: 16px;
		visibility: hidden;

		&__time-to-start {
			@include font-body(32);
			color: var(--heading);
		}

		&--visible {
			visibility: visible;
		}

		.reminder {
			@include font-body(14);
			color: var(--placeholder);
			display: flex;
			align-items: center;
			gap: 8px;
		}
	}
}
