@use '@/scss/fonts' as *;

.chip {
	--chip-padding: 4px;
	--chip-gap: 4px;

	padding-inline: var(--chip-padding);
	height: 24px;
	position: relative;
	background-color: var(--unselected);
	transition: padding 0.25s var(--timing);
	@include font-heading(14);

	&__check {
		visibility: hidden;
		opacity: 0;
		position: absolute;
		left: var(--chip-padding);
		top: 50%;
		transform: translateY(calc(-50% + 6px));
		transition:
			visibility 0.25s var(--timing),
			opacity 0.25s var(--timing),
			transform 0.25s var(--timing);
	}

	&[aria-checked='true'] {
		background-color: var(--primary);
		color: var(--black);
		padding-left: calc(var(--chip-padding) + 1.2em + var(--chip-gap));

		.chip__check {
			visibility: visible;
			opacity: 1;
			transform: translateY(-50%);
		}
	}
}
