@use '@/scss/mixins' as *;
@use '@/scss/fonts' as *;

.page {
	height: calc(100vh - var(--header-size));
	max-height: calc(-webkit-fill-available - var(--header-size));
	display: grid;
	place-items: center;

	.main {
		@include max-width(400px, 24px);
		display: flex;
		flex-direction: column;
		align-items: center;
		gap: 32px;

		&__group {
			display: flex;
			flex-direction: column;
			gap: 12px;
			width: 100%;
		}

		&__title {
			@include font-heading;
			font-size: min(9vw, 3rem);
			color: var(--untyped);
		}

		.join {
			display: flex;
			align-items: flex-start;

			&__input {
				flex: 1;
			}
		}
	}
}
