@use '@/scss/fonts' as *;
@use '@/scss/mixins' as *;

.header {
	@include container;
	height: var(--header-size);
	display: flex;
	align-items: center;
	justify-content: space-between;
	gap: 12px;

	&__left {
		display: flex;
		align-items: center;
		column-gap: 12px;
		row-gap: 4px;
		flex-wrap: wrap;

		.home {
			@include font-heading(16);
			height: 100%;
			display: flex;
			align-items: center;
		}
	}
}

.dot {
	width: 4px;
	height: 4px;
	border-radius: 999px;
	background-color: var(--positive);
}
