@use '@/scss/fonts' as *;
@use '@/scss/mixins' as *;
@use '@/scss/breakpoints' as *;

.header {
	@include container;
	height: var(--header-size);
	display: flex;
	align-items: center;
	justify-content: space-between;
	gap: 12px;

	&__left {
		display: flex;
		align-items: center;
		gap: 32px;

		.home {
			height: 100%;
			display: flex;
			align-items: center;
			gap: 8px;

			&__link {
				@include font-heading(16);
				color: var(--heading);
			}

			&__separator {
				width: 2px;
				height: 20px;
				background-color: var(--border);
			}

			&__user-count {
				@include font-body(14);
				color: var(--placeholder);
			}

			&__loader {
				width: 16px;
				height: 16px;
				display: grid;
				place-items: center;
			}
		}
	}

	&__links {
		margin: 0;
		padding: 0;
		display: none;
		align-items: center;
		gap: 24px;

		@media screen and (width > $screen-md) {
			display: flex;
		}
	}
}

.link {
	@include font-heading(16);
	color: var(--heading);
	display: block;

	&__anchor {
		height: 32px;
		position: relative;
		display: flex;
		align-items: center;

		&:not([aria-current='page']):hover {
			color: var(--text);
		}

		&[aria-current='page']::after {
			content: '';
			position: absolute;
			background-color: var(--primary-light);
			height: 4px;
			width: 100%;
			inset: 0;
			top: unset;
		}
	}
}
