.selector {
	width: 100%;
	display: flex;
	gap: 4px;

	&__item {
		aspect-ratio: 1;
		flex: 1;
		display: grid;
		place-items: center;
		background-color: var(--surface);
		border: 2px solid var(--surface);

		&:disabled {
			background-color: var(--disabled);
			border-color: var(--disabled);
		}
	}
}
