.checkbox {
	color: var(--heading);
	height: 40px;
	display: flex;
	align-items: center;
	justify-content: flex-start;
	gap: 8px;
	line-height: 1;

	&:focus-visible .checkbox__box {
		border-color: var(--heading);
	}

	&[aria-checked='false']:hover {
		.checkbox__box {
			background-color: var(--border);

			.check {
				display: block;
				color: var(--on-disabled);
			}
		}
	}

	&[aria-checked='true'] {
		.checkbox__box {
			border: none;
			background-color: var(--positive);

			.check {
				display: block;
			}
		}
	}

	&__box {
		border: 2px solid var(--border);
		width: 16px;
		height: 16px;
		display: grid;
		place-items: center;

		.check {
			color: var(--background);
			width: 100%;
			height: 100%;
			display: none;
		}
	}
}
