.notification {
  width: 350px;
  max-width: min(350px, calc(100vw - (2 * 24px)));
  display: grid;
  grid-template-columns: 40px 1fr 40px;
  box-shadow: 2px 3px 16px rgb(0, 0, 0, 0.15);

  &:nth-of-type(1) {
    view-transition-class: notification notification-first;
  }

  &:nth-of-type(n + 2) {
    view-transition-class: notification notification-not-first;
  }

  &--default {
    background-color: var(--gray-10);
  
    .notification__close {
      color: var(--heading);
    }
  }

  &--error {
    background-color: var(--error);
    color: var(--background);

    .notification__close {
      color: var(--background);
    }
  }

  &--success {
    background-color: var(--positive);
    color: var(--heading);
  
    .notification__close {
      color: var(--heading);
    }
  }

  &__icon {
    justify-self: center;
    padding-top: 10px;
  }

  &__content {
    flex: 1;
    padding-block: 12px;
  }
  
  &__close {
    margin-top: 4px;

    * {
      color: inherit;
    }
  }
}