.button {
	padding-inline: 12px;
	height: 40px;
	display: grid;
	place-items: center;
	width: auto;

	&:not(.button--loading):disabled {
		background-color: var(--disabled);
		color: var(--on-disabled);
	}

	&:not(:disabled):hover &__icon > * {
		rotate: -15deg;
	}

	&--icon-button {
		padding-inline: 0;
		width: 40px;
	}

	&--primary {
		--loader-color: var(--black);
		background-color: var(--primary);
		color: var(--black);
	}

	&--secondary {
		--loader-color: var(--background);
		background-color: var(--heading);
		color: var(--background);
	}

	&--tertiary {
		--loader-color: var(--heading);
		color: var(--heading);
	}

	&--loading {
		.button__content {
			visibility: hidden;
			opacity: 0;
		}

		.button__loader {
			visibility: visible;
			opacity: 1;
		}
	}

	&__content,
	&__loader {
		transition:
			opacity 0.1s ease-out,
			visibility 0.1s ease-out;
	}

	&__content {
		display: flex;
		align-items: center;
		justify-content: center;
		gap: 12px;
		grid-area: 1 / 1;
	}

	&__icon {
		display: grid;
		place-items: center;
	}

	&__loader {
		grid-area: 1 / 1;
		visibility: hidden;
		opacity: 0;
	}
}
