@use '@/scss/fonts' as *;

.form {
	display: flex;
	flex-direction: column;
	gap: 12px;

	&__heading {
		@include font-heading(24);
	}

	&__actions {
		display: flex;
		gap: 8px;
	}

	.category-selector {
		display: flex;
		flex-direction: column;
		gap: 2px;

		&__label {
			@include font-body(14);
		}

		.categories {
			margin: 0;
			padding: 0;
			display: flex;
			flex-direction: column;

			&__option {
				display: block;

				.button {
					display: flex;
					align-items: center;
					gap: 8px;
					height: 32px;
					// Room for ::before outline + outline offset
					padding-left: 4px;

					&::before {
						content: '';
						width: 0.5em;
						height: 0.5em;
						border-radius: 999px;
						outline: 2px solid var(--placeholder);
						outline-offset: 2px;
					}

					&[aria-checked='true']::before {
						outline-color: var(--primary);
						background-color: var(--primary);
					}
				}
			}
		}
	}
}
