@use '@/scss/fonts' as *;

.form {
	display: flex;
	flex-direction: column;
	gap: 12px;
	width: 1000px;
	max-width: 100%;

	&__heading {
		@include font-heading(24);
	}

	&__actions {
		display: flex;
		gap: 8px;
	}
}
