// Create a regular nad light gradient for a cursor
@mixin cursor-gradient($name, $stops...) {
	$mapped-stops: ();
	$mapped-light-stops: ();
	@each $stop in $stops {
		$mapped-stops: append($mapped-stops, var(--cursor-#{$stop}), comma);
		$mapped-light-stops: append($mapped-light-stops, var(--cursor-#{$stop}-light), comma);
	}

	--cursor-#{$name}: linear-gradient(to bottom, #{$mapped-stops});
	--cursor-#{$name}-light: linear-gradient(to bottom, #{$mapped-light-stops});
	--cursor-#{$name}-horizontal: linear-gradient(to right, #{$mapped-stops});
}

@mixin cursor-solid($name, $regular, $light) {
	--cursor-#{$name}: #{$regular};
	--cursor-#{$name}-light: #{$light};
	--cursor-#{$name}-horizontal: #{$regular};
}

// Shared colors
:root {
	// Shared cursor colors
	@include cursor-solid(gray, var(--gray-70), var(--gray-20));
	@include cursor-gradient(twilight, red, purple);
	@include cursor-gradient(flame, red, yellow);
	@include cursor-gradient(spring, yellow, green);
	@include cursor-gradient(ocean, green, blue);
	@include cursor-gradient(crystal, cyan, purple);
	@include cursor-gradient(amethyst, purple, pink);
	@include cursor-gradient(sunrise, pink, orange);
	@include cursor-gradient(aurora, pink, cyan);
	@include cursor-gradient(rainbow, red, orange, yellow, green, cyan, blue, purple, pink);

	// Aliases
	--surface: var(--gray-10);
	--unselected: var(--gray-20);
	--border: var(--gray-20);
	--disabled: var(--gray-20);
	--on-disabled: var(--gray-60);
	--placeholder: var(--gray-50);
	--untyped: var(--gray-50);
	--text: var(--gray-80);
	--extra: var(--negative-contrast);
}

[data-theme='light'] {
	// Base colors
	--white: #fdfcf9;
	--black: #10100e;
	--primary: #ffcd2a;
	--primary-light: #ffe07c;
	--primary-dark: #805a00;
	--gray-10: #f6f4f1;
	--gray-20: #e1dfda;
	--gray-30: #c7c4be;
	--gray-40: #b2afab;
	--gray-50: #9b9892;
	--gray-60: #7f7d79;
	--gray-70: #585754;
	--gray-80: #373634;
	--gray-90: #1d1c1c;
	@include cursor-solid(red, #f70000, #ffd6cc);
	@include cursor-solid(orange, #ca5c00, #ffd8b6);
	@include cursor-solid(yellow, #b79f00, #f1e7a9);
	@include cursor-solid(green, #009f00, #c4f3c4);
	@include cursor-solid(cyan, #009790, #a5f6f0);
	@include cursor-solid(blue, #0673ff, #c6e9ff);
	@include cursor-solid(purple, #874dff, #e3deff);
	@include cursor-solid(pink, #d600d0, #ffd2fe);
	--negative: #d50323;
	--negative-contrast: #620000;
	--positive: #02891b;
	--positive-light: #dbf8d9;

	--background: var(--white);
	--heading: var(--black);
	--correct: var(--black);
	--shadow-color: rgb(0, 0, 0, 0.15);

	color-scheme: light;
}

[data-theme='dark'] {
	// Base colors
	--white: #fdfcf9;
	--black: #10100e;
	--primary: #ffcd2a;
	--primary-light: #876c0b;
	--primary-dark: #ffda68;
	--gray-10: #1e1e1d;
	--gray-20: #2b2b29;
	--gray-30: #403f3b;
	--gray-40: #605d58;
	--gray-50: #898680;
	--gray-60: #b1aea9;
	--gray-70: #d0ceca;
	--gray-80: #e4e3e1;
	--gray-90: #f3f2f2;
	@include cursor-solid(red, #fa5263, #430e14);
	@include cursor-solid(orange, #ec7b34, #411400);
	@include cursor-solid(yellow, #cdb430, #2e2300);
	@include cursor-solid(green, #3abc34, #052d04);
	@include cursor-solid(cyan, #3ab3ac, #002d2b);
	@include cursor-solid(blue, #5e9aff, #0a224a);
	@include cursor-solid(purple, #a481ff, #271a46);
	@include cursor-solid(pink, #e560de, #381236);
	--negative: #ff5e5a;
	--negative-contrast: #feaaa3;
	--positive: #2bca2b;
	--positive-light: #1b3519;

	// Aliases
	--background: var(--black);
	--heading: var(--white);
	--correct: var(--white);
	--shadow-color: rgb(0, 0, 0, 0.35);

	color-scheme: dark;
}
