$themeless-colors: (
	'white': #fdfcf9,
	'black': #10100e
);

$theme-base-colors: (
	'light': (
		'primary': #ffcd2a,
		'primary-light': #ffe07c,
		'primary-dark': #805a00,
		'gray-10': #f6f4f1,
		'gray-20': #e1dfda,
		'gray-30': #c7c4be,
		'gray-40': #b2afab,
		'gray-50': #9b9892,
		'gray-60': #7f7d79,
		'gray-70': #585754,
		'gray-80': #373634,
		'gray-90': #1d1c1c,
		'cursor-red': #f70000,
		'cursor-red-light': #ffd6cc,
		'cursor-orange': #ca5c00,
		'cursor-orange-light': #ffd8b6,
		'cursor-yellow': #b79f00,
		'cursor-yellow-light': #f1e7a9,
		'cursor-green': #009f00,
		'cursor-green-light': #c4f3c4,
		'cursor-cyan': #009790,
		'cursor-cyan-light': #a5f6f0,
		'cursor-blue': #0673ff,
		'cursor-blue-light': #c6e9ff,
		'cursor-purple': #874dff,
		'cursor-purple-light': #e3deff,
		'cursor-pink': #d600d0,
		'cursor-pink-light': #ffd2fe,
		'negative': #d50323,
		'negative-contrast': #620000,
		'positive': #02891b
	)
);

$theme-alias-colors: (
	'light': (
		'surface': map-get(map-get($theme-base-colors, 'light'), 'gray-10'),
		'border': map-get(map-get($theme-base-colors, 'light'), 'gray-20'),
		'disabled': map-get(map-get($theme-base-colors, 'light'), 'gray-20'),
		'on-disabled': map-get(map-get($theme-base-colors, 'light'), 'gray-60'),
		'placeholder': map-get(map-get($theme-base-colors, 'light'), 'gray-50'),
		'untyped': map-get(map-get($theme-base-colors, 'light'), 'gray-50'),
		'text': map-get(map-get($theme-base-colors, 'light'), 'gray-80'),
		'background': map-get($themeless-colors, 'white'),
		'heading': map-get($themeless-colors, 'black'),
		'correct': map-get($themeless-colors, 'black'),
		'extra': map-get(map-get($theme-base-colors, 'light'), 'negative-contrast')
	)
);

body {
	@each $key, $value in $themeless-colors {
		--#{$key}: #{$value};
	}
}

@each $theme, $vars in $theme-base-colors {
	body:has([data-theme='#{$theme}']) {
		@each $key, $value in $vars {
			--#{$key}: #{$value};
		}
	}
}

@each $theme, $vars in $theme-alias-colors {
	body:has([data-theme='#{$theme}']) {
		@each $key, $value in $vars {
			--#{$key}: #{$value};
		}
	}
}
