@use 'fonts' as *;

body {
	--timing: cubic-bezier(0.165, 0.84, 0.44, 1);

	@include font-body;
	background-color: var(--background);
	color: var(--text);
}

h1,
h2,
h3,
h4,
h5,
h6 {
	@include font-heading;
	color: var(--heading);
}

::placeholder {
	color: var(--placeholder);
}

hr {
	border: none;
	border-top: 2px solid var(--border);
}
