body {
  font: var(--font-body-16);
  background-color: var(--background);
  color: var(--text);
}

h1,
h2,
h3,
h4,
h5,
h6 {
  color: var(--heading);
}

::placeholder {
  color: var(--placeholder);
}

hr {
  border-top: 2px solid var(--border);
}