@use 'fonts' as *;

:root {
	--timing: cubic-bezier(0.165, 0.84, 0.44, 1);
	--page-bottom-padding: 32px;
	--shadow: 2px 3px 16px var(--shadow-color);
	--header-size: 64px;

	--z-below: -1;
	--z-base: 0;
	--z-surface: 1;
	--z-above: 2;
	--z-overlay: 5;
	--z-notification: 7;
	--z-max: 999;

	@include font-body;
	background-color: var(--background);
	color: var(--text);
	// Experimental but YESSSSSSSSSSS
	interpolate-size: allow-keywords;
}

h1,
h2,
h3,
h4,
h5,
h6 {
	@include font-heading;
	color: var(--heading);
}

::placeholder {
	color: var(--placeholder);
}

hr {
	border: none;
	border-top: 2px solid var(--border);
}
