@import url('https://fonts.googleapis.com/css2?family=JetBrains+Mono:ital,wght@0,100..800;1,100..800&display=swap');

$font: 'JetBrains Mono', monospace;
$line-height-body: 1.5;
$line-height-heading: 1.1;
$letter-spacing-heading: -0.02em;

@mixin font-body($size: 16) {
	font: 400 calc(#{$size}rem / 16) /#{$line-height-body} $font;
}

@mixin font-heading($size: 16) {
	font: 500 calc(#{$size}rem / 16) /#{$line-height-heading} $font;
	letter-spacing: $letter-spacing-heading;
}
