@mixin container {
	@include max-width(1040px, 24px);
}

@mixin max-width($max-width, $side-padding) {
	width: min($max-width, calc(100% - (2 * $side-padding)));
	margin-inline: auto;
}

@mixin hidden($translateY: -8px, $translateX: none) {
	visibility: hidden;
	opacity: 0;
	transform: translate($translateX, $translateY);
	transition:
		visibility 0.25s var(--timing),
		opacity 0.25s var(--timing),
		transform 0.25s var(--timing);
}

@mixin visible($translateY: 0, $translateX: none) {
	visibility: visible;
	opacity: 1;
	transform: translate($translateX, $translateY);
}
