@use '@/scss/fonts' as *;
@use '@/scss/breakpoints' as *;

.leaderboard {
	.divider {
		margin-block: 16px;
		height: 2px;
		background-color: var(--border);
	}

	.expand {
		@include font-heading(16);
		color: var(--heading);
		display: flex;
		align-items: center;
		gap: 8px;
		transform-origin: left center;
		transition: scale 0.25s var(--timing);

		&__icon {
			transition: rotate 0.25s var(--timing);
		}

		&[aria-expanded='true'] .expand__icon {
			rotate: 180deg;
		}
	}

	&__results {
		display: flex;
		flex-direction: column;
		gap: 12px;
		margin: 0;
		padding: 16px 0 0 0;
	}

	&--open {
		.expand {
			scale: 1.5;
		}
	}
}

.user {
	display: flex;
	align-items: center;
	gap: 8px;
	height: 40px;

	.username,
	.wpm {
		color: var(--heading);
	}

	.username {
		@include font-heading(16);

		&__you {
			@include font-heading(12);
			color: var(--placeholder);
			display: inline;
		}
	}

	.wpm {
		@include font-heading(12);
	}

	@media screen and (width > $screen-sm) {
		.username {
			@include font-heading(20);

			&__you {
				@include font-heading(14);
			}
		}

		.wpm {
			@include font-heading(14);
		}
	}

	&__bar {
		height: 100%;
		padding-inline: 12px;
		display: flex;
		align-items: center;
		justify-content: space-between;

		&--failed {
			padding-inline: 0;
		}

		.username,
		.username__you,
		.wpm {
			color: var(--background);
		}
	}
}
