@use '@/scss/fonts' as *;
@use '@/scss/breakpoints' as *;

.stats {
	display: flex;
	flex-direction: column;
	gap: 12px;
	flex: 1;

	&__heading {
		@include font-heading(14);
		text-transform: uppercase;
		color: var(--placeholder);
	}

	&__filters {
		position: relative;
		display: flex;
		gap: 12px;
	}

	.stat-boxes {
		display: flex;
		flex-direction: row;
		gap: 12px;
		flex-wrap: wrap;

		.stat-box {
			padding: 8px;
			background-color: var(--surface);
			display: flex;
			flex-direction: column;
			gap: 4px;
			flex-grow: 1;
			position: relative;

			&__stat {
				@include font-heading(24);
				transition: opacity 0.175s var(--timing);
			}

			&__name {
				@include font-heading(14);
				color: var(--placeholder);
			}

			&--pending .stat-box__stat {
				opacity: 0.5;
			}
		}
	}
}

.filter {
	// remove relative positioning on filters so that the dropdowns will be positioned to the parent of the filters instead by putting relative positioning on it
	position: unset !important;
}

.dropdown {
	--dropdown-open-y-offset: 8px;
	display: flex;
	flex-direction: column;
	gap: 12px;
	width: min(450px, 100vw - 48px);
	left: 0;

	@media screen and ($screen-lg > width > $screen-md) {
		width: 350px;
	}

	&__heading {
		@include font-heading(14);
		color: var(--text);
	}

	&__filter-chips {
		display: flex;
		gap: 8px;
		flex-wrap: wrap;
	}
}
