@use '@/scss/fonts' as *;

.stats {
	display: flex;
	flex-direction: column;
	gap: 12px;
	flex: 1;

	&__heading {
		@include font-heading(14);
		text-transform: uppercase;
		color: var(--placeholder);
	}

	.stat-boxes {
		display: flex;
		flex-direction: row;
		gap: 12px;
		flex-wrap: wrap;

		.stat-box {
			padding: 8px;
			background-color: var(--surface);
			display: flex;
			flex-direction: column;
			gap: 4px;
			flex-grow: 1;
			transition: opacity 0.25s var(--timing);

			&__stat {
				@include font-heading(24);
			}

			&__name {
				@include font-heading(14);
				color: var(--placeholder);
			}

			&--pending {
				opacity: 0.5;
				pointer-events: none;
				user-select: none;
			}
		}
	}
}
