.typer {
  --_typer-correct-letter-color: var(--typer-correct-letter-color, var(--correct));
  --_typer-wrong-letter-color: var(--typer-wrong-letter-color, var(--error));
  --_typer-extra-letter-color: var(--typer-extra-letter-color, var(--extra));
  --_typer-untyped-letter-color: var(--typer-untyped-letter-color, var(--untyped));
  --_typer-cursor-color: var(--typer-cursor-color, var(--cursor-blue));
  --_typer-wrong-word-decoration: var(--typer-wrong-word-decoration, underline var(--error));

  font: var(--font-body-32);
  position: relative;
  // Cut off cursors and text so only 3 lines show
  overflow: hidden;
  height: 9rem;
  // Extra padding to ensure cursors are fully visible
  padding: 0.1em;

  &:focus {
    outline: none;
  }

  &__inner {
    display: block;
  }

  .word {
    display: inline;
    word-wrap: break-word;
  
    &--incorrect {
      text-decoration: var(--_typer-wrong-word-decoration);
    }
  
    .untyped {
      color: var(--_typer-untyped-letter-color);
    }
  
    .extra {
      color: var(--_typer-extra-letter-color);
    }
  
    .correct {
      color: var(--_typer-correct-letter-color);
    }
  
    .incorrect {
      color: var(--_typer-wrong-letter-color);
    }
  }

  .character {
    display: inline;
  }
}