.skeleton {
	background-color: var(--skeleton-background-color);
	overflow: hidden;
	animation: shimmer 2.5s ease-in-out infinite;

	@keyframes shimmer {
		0%,
		100% {
			background-color: var(--skeleton-background-color);
		}
		50% {
			background-color: var(--skeleton-shimmer-color);
		}
	}
}
