@use '@/scss/fonts' as *;

.main {
	background-color: var(--surface);
	height: fit-content;

	.top {
		overflow: hidden;
		transition:
			height 0.25s var(--timing),
			visibility 0.25s var(--timing);
	}

	&__waiting-text {
		@include font-body(32);
		color: var(--placeholder);
		padding: 16px;
	}
}
