@import url('https://fonts.googleapis.com/css2?family=JetBrains+Mono:ital,wght@0,100..800;1,100..800&display=swap');

$fonts: (
  'body-12': 0.75rem/var(--line-height-body) 400 var(--font),
  'body-16': 1rem/var(--line-height-body) 400 var(--font),
  'body-24': 1.5rem/var(--line-height-body) 400 var(--font),
  'body-32': 2rem/var(--line-height-body) 400 var(--font)
);

body {
  --font: 'JetBrains Mono', monospace;
  --line-height-body: 1.5;
  --line-height-heading: 1.1;
  --letter-spacing-heading: -0.02em;

  --font-body-12: 400 0.75rem/var(--line-height-body) var(--font);
  --font-body-16: 400 1rem/var(--line-height-body) var(--font);
  --font-body-24: 400 1.5rem/var(--line-height-body) var(--font);
  --font-body-32: 400 2rem/var(--line-height-body) var(--font);

  --font-heading-16: 500 1rem/var(--line-height-heading) var(--font);
  --font-heading-20: 600 1.25rem/var(--line-height-heading) var(--font);
  --font-heading-24: 600 1.5rem/var(--line-height-heading) var(--font);
  --font-heading-32: 600 2rem/var(--line-height-heading) var(--font);
}

@mixin heading($size) {
  font: var(--font-heading-#{$size});
  letter-spacing: var(--letter-spacing-heading);
}