$themeless-colors: (
  'white': #FDFCF9,
  'black': #10100E
);

$theme-base-colors: (
  'light': (
    'primary': #FFCD2A,
    'primary-light': #FFE07C,
    'primary-dark': #805A00,
    'gray-10': #F6F4F1,
    'gray-20': #E1DFDA,
    'gray-30': #C7C4BE,
    'gray-40': #B2AFAB,
    'gray-50': #9B9892,
    'gray-60': #7F7D79,
    'gray-70': #585754,
    'gray-80': #373634,
    'gray-90': #1D1C1C,
    'cursor-red': #D31900,
    'cursor-red-light': #FFDCD7,
    'cursor-orange': #F67300,
    'cursor-orange-light': #FFE6CF,
    'cursor-yellow': #CAB300,
    'cursor-yellow-light': #FCF3B0,
    'cursor-green': #16A600,
    'cursor-green-light': #C9FAC1,
    'cursor-blue': #0069D1,
    'cursor-blue-light': #D5EAFF,
    'cursor-purple': #8F00E2,
    'cursor-purple-light': #F1D8FF,
    'cursor-pink': #E50091,
    'cursor-pink-light': #FFD9F1,
    'error': #EA1C1C,
    'error-dark': #840C0C
  )
);

$theme-alias-colors: (
  'light': (
    'border': map-get(map-get($theme-base-colors, 'light'), 'gray-20'),
    'disabled': map-get(map-get($theme-base-colors, 'light'), 'gray-20'),
    'placeholder': map-get(map-get($theme-base-colors, 'light'), 'gray-50'),
    'untyped': map-get(map-get($theme-base-colors, 'light'), 'gray-50'),
    'text': map-get(map-get($theme-base-colors, 'light'), 'gray-80'),
    'background': map-get($themeless-colors, 'white'),
    'heading': map-get($themeless-colors, 'black'),
    'correct': map-get($themeless-colors, 'black'),
    'extra': map-get(map-get($theme-base-colors, 'light'), 'error-dark')
  )
);

body {
  @each $key, $value in $themeless-colors {
    --#{$key}: #{$value};
  }    
}


@each $theme, $vars in $theme-base-colors {
  [data-theme="#{$theme}"] {
    @each $key, $value in $vars {
      --#{$key}: #{$value};
    }
  }
}

@each $theme, $vars in $theme-alias-colors {
  [data-theme="#{$theme}"] {
    @each $key, $value in $vars {
      --#{$key}: #{$value};
    }
  }
}