@use '@/scss/fonts' as *;

.data {
	display: flex;
	flex-direction: column;
	gap: 16px;

	.user-info {
		&__users {
			margin: 0;
			padding: 0;
			display: flex;
			flex-direction: column;
			gap: 20px;
			padding-bottom: 12px;
		}

		&__num-players {
			@include font-body(14);
			color: var(--placeholder);
		}

		.checkbox {
			padding-top: 12px;

			&__button {
				width: 100%;
			}
		}
	}

	&__room {
		display: flex;
		align-items: center;
		justify-content: space-between;
		flex-wrap: wrap;
		gap: 8px;

		.invite {
			display: flex;

			&__text,
			&__icon {
				height: 40px;
			}

			&__text {
				@include font-heading(16);
				line-height: 1;
				padding-inline: 12px;
				border: 2px solid var(--border);
				background-color: var(--surface);
				white-space: nowrap;
				display: grid;
				place-items: center;
			}

			&__icon {
				background-color: var(--heading);
				color: var(--background);
				width: 40px;
				display: grid;
				place-items: center;
			}

			&:hover .invite__icon svg {
				rotate: -15deg;
			}
		}

		.leave {
			width: fit-content;
			padding-inline: 0;
		}
	}
}
