@use '@/scss/mixins' as *;
@use '@/scss/breakpoints' as *;

.page {
	@include container;
	display: grid;
	gap: 32px;
	padding-top: 32px;
	padding-bottom: var(--page-bottom-padding);

	@media screen and (width > $screen-md) {
		grid-template-columns: minmax(0, 1fr) minmax(0, 1fr);
	}

	@media screen and (width > $screen-lg) {
		grid-template-columns: minmax(0, 2fr) minmax(0, 1fr);
	}
}
