.typer {
  --_typer-correct-letter-color: var(--typer-correct-letter-color, black);
  --_typer-wrong-letter-color: var(--typer-wrong-letter-color, red);
  --_typer-extra-letter-color: var(--typer-extra-letter-color, darkred);
  --_typer-untyped-letter-color: var(--typer-extra-letter-color, gray);
  --_typer-cursor-color: var(--typer-cursor-color, indigo);
  --_typer-wrong-word-decoration: var(--typer-wrong-word-decoration, underline red);

  font-size: 2rem;
  line-height: 1.5;
  position: relative;

  &:focus {
    outline: none;
  }

  &__text {
    height: 9rem;
    overflow: hidden;
  }

  &__inner {
    display: block;
  }

  .cursor {
    height: 1.1em;
    width: 0.1em;
    background-color: var(--_typer-cursor-color);
    position: absolute;
    top: 0;
    left: -0.05em;
    // line height is 1.5em, height of cursor is 1.1em
    // this centers the cursor vertically on the line
    margin-top: 0.2em;
    transition:
      transform 0.1s cubic-bezier(0.215, 0.610, 0.355, 1),
      opacity 0.5s;
    
    &--blinking {
      animation: blink 1.25s infinite;
    }

    @keyframes blink {
      0%, 15%, 85%, 100% {
        opacity: 1;
      }
  
      50% {
        opacity: 0;
      }
    }
  }

  &--finished .cursor,
  &:not(:focus) .cursor {
    opacity: 0;
    animation: none;
  }

  .word {
    display: inline;
  
    &--incorrect {
      text-decoration: var(--_typer-wrong-word-decoration);
    }
  
    .original-only {
      color: var(--_typer-untyped-letter-color);
    }
  
    .typed-only {
      color: var(--_typer-extra-letter-color);
    }
  
    .match {
      color: var(--_typer-correct-letter-color);
    }
  
    .no-match {
      color: var(--_typer-wrong-letter-color);
    }
  }

  .character {
    display: inline;
  }
}