@use '@/scss/fonts' as *;
@use '@/scss/mixins' as *;

.page {
	height: calc(100vh - var(--header-size));
	max-height: calc(-webkit-fill-available - var(--header-size));
	display: grid;
	place-items: center;

	.main {
		@include max-width(400px, 24px);
		display: flex;
		flex-direction: column;
		align-items: center;
		text-align: center;

		&__title {
			@include font-heading(96);
			margin-bottom: 8px;
		}

		&__subtitle {
			@include font-heading(32);
			margin-bottom: 24px;
		}
	}
}
