.selector {
	width: 100%;
	display: grid;
	grid-template-columns: repeat(4, minmax(0, 1fr));
	gap: 4px;

	@container (width > 310px) {
		grid-template-columns: repeat(8, minmax(0, 1fr));
	}

	&__item {
		aspect-ratio: 1;
		flex: 1;
		display: flex;
		align-items: center;
		justify-content: center;
		background-color: var(--surface);
		border: 2px solid var(--surface);

		&:disabled {
			background-color: var(--disabled);
			border-color: var(--disabled);
		}
	}

	&--surface .selector__item {
		background-color: var(--gray-20);
		border-color: var(--gray-20);

		&:disabled {
			--cursor-color: var(--gray-40);
			background-color: var(--background);
			border-color: var(--background);
		}
	}
}

*:has(> .selector) {
	container-type: inline-size;
}
