@use '@/scss/fonts' as *;

.unlocks {
	display: flex;
	flex-direction: column;
	gap: 12px;

	&__text {
		.text {
			@include font-body(14);
		}
	}

	&__items {
		display: flex;
		flex-wrap: wrap;
		gap: 8px;
	}
}

.cursor {
	position: relative;
	background: var(--cursor-background);
	width: 64px;
	height: 64px;
	// When the border color is a gradient, this will be used
	border-image: var(--cursor-border) 1;
	// When the border color is not a gradient, this will be used
	border-color: var(--cursor-border);
	border-width: 2px;
	border-style: solid;

	&::before {
		content: '';
		position: absolute;
		scale: 1.25;
		z-index: -1;
		inset: 0;
		background: var(--cursor-background);
	}

	&__button {
		width: 100% !important;
		height: 100% !important;
		display: grid !important;
		place-items: center !important;
		position: relative;

		.try {
			@include font-heading(14);
			background: var(--cursor-background);
			color: var(--heading);
			position: absolute;
			z-index: var(--z-base);
			inset: 0;
			display: grid;
			place-items: center;
			visibility: hidden;
		}

		&:not(:disabled):hover .try {
			visibility: visible;
		}

		.selected {
			position: absolute;
			z-index: var(--z-above);
			inset: 0;
			display: grid;
			place-items: center;
			background: var(--cursor-border);

			&__check {
				color: var(--background);
				width: 48px;
				height: 48px;
			}
		}
	}
}

[data-theme='light'] .cursor::before {
	filter: saturate(2) blur(15px);
}

[data-theme='dark'] .cursor::before {
	filter: blur(12px);
}
